{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <img src="/static/images/404.webp" alt="African 404 Image" class="img-fluid">
                    <p class="fw-bold text-danger mb-2">Ayayai! You're in the savannah of lost pages</p>
                    <h2 class="fw-bold">404 Error - Page Not Found</h2>
                    <p class="text-muted">Seems like you've taken a detour in the African wilderness. Let's guide you back to <a href="{{ url_for('user.index') }}">home</a> before you encounter a mischievous monkey.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <p class="text-muted">If you find a Flask app brewing tea instead of handling requests, you're probably in the wrong place. blame it on the mischievous monkeys and try again.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
