{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <img src="/static/images/flask-meme.jpg" alt="African 500 Image" class="img-fluid">
                    <p class="fw-bold text-danger mb-2">Oops! The server is taking a break</p>
                    <h2 class="fw-bold">500 Error - Internal Server Issue</h2>
                    <p class="text-muted">Looks like our server is on a tea break, enjoying some hot chai. Don't worry, we'll have it back in action shortly. Meanwhile, why not enjoy a cup of tea yourself?</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
