/* Add styles for the overlay buttons */
.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}


/* Show overlay buttons on hover */
.card:hover .button-overlay {
    opacity: 1;
}
